[2014-12-04 20:27] hadleelineham opened #1 "Just Comments"
Hello
I did try and do the composer install but it didn't work

![nocaptchaerror](https://cloud.githubusercontent.com/assets/9538165/5305480/dd337cf0-7c60-11e4-8c05-38c0876d51c8.gif)

so used the download install which worked.
just some feed back to make it easier for other users to install
## make new file in mystie/_config and call it  spamprotecttion.yml
## name: spamprotection

FormSpamProtect

[2014-12-05 00:46] #1 closed, assigned to nobody

[2015-01-29 21:49] michael-harvey opened #5 "Adding nocaptcha field to page php"
Can this module be used for adding a nocaptcha field to a manual php form, or just userdefinedforms? I get an empty input returned when I add enablespamprotection to the form, and trying to add a NocaptchaField returns the same. Any help would be appreciated

[2015-01-29 22:11] #5 closed

[2015-01-29 22:13] UndefinedOffset commented on #5
Did you resolve this? Was it just a flush required? Or?

[2015-01-30 00:05] michael-harvey commented on #5
I changed the spamprotection module to 1.2.0 and after updating it worked perfectly. Not sure what was happening.

Thanks for making this module!

[2015-01-30 00:06] UndefinedOffset commented on #5
Ya looks like that's the version [i set it for](https://github.com/UndefinedOffset/silverstripe-nocaptcha/blob/master/composer.json#L17). Glad that worked for you :)

[2015-04-16 04:15] helenclarko opened #8 "Captcha could not be validated."
After submitting form, an error shows under the nocatcha "Captcha could not be validated."
Form is then not submitted.

Silverstripe 3.1

[2015-04-16 10:09] UndefinedOffset commented on #8
Have you checked that the site key and secret key are correct? Are you using Ajax to submit the form? Also double check that you have authorized the domain on google's end.

[2015-04-16 21:22] helenclarko commented on #8
Site Key and Secret Key are correct. Silverstripe UserForms is being used, so just standard submit.

[2015-04-16 21:34] UndefinedOffset commented on #8
I wonder is there client side validation happening per chance from user forms? I'm wondering if that maybe a clue, I'll do some testing on the weekend. It could be seeing it as required and validating it.

[2015-04-16 22:00] helenclarko commented on #8
Yea, I assumed that the userform wasnt getting the correct response.

[2015-04-16 22:04] UndefinedOffset commented on #8
Ya if it's doing client side validation it maybe capturing the submit event which is likely preventing googles code from populating the value needed for the server side validation. You could try turning off the client side validation in the user forms settings. It may help. I'll do some testing on the weekend see if I can figure it out, what version of user forms are you using?

[2015-04-17 22:23] UndefinedOffset commented on #8
I just tested with the latest master of userforms and 3.1.12 as well as the latest master of this module. Which is the same as the 0.1.3 tag with the exception of some documentation changes. It seemed to work correctly for me, can you post your composer.lock file?

[2015-04-19 21:21] helenclarko commented on #8
Hi UndefinedOffset,

I have manually copied all files (not using Composer).
I have just swapped out Spam Protection, nocaptcha and Userforms.
Everytime I submit a form, I recieve an error "Captcha could not be validated".

Is this likely to be the Keys I have entered, or Userforms trying to validate the Nocaptcha field?

[2015-04-19 21:25] UndefinedOffset commented on #8
My guess would be that the do,sin you are using is not allowed for the keys you have setup. Make sure you have allowed the domain you are working off in googles recaptcha panel for the keys.

[2015-04-19 21:29] UndefinedOffset commented on #8
Also try var dumping the response variable before this line https://github.com/UndefinedOffset/silverstripe-nocaptcha/blob/master/code/NocaptchaField.php#L141 also try dumping out curl_error($ch), may need to check that function name to be sure I'm right ;). Could be an error too

[2015-04-19 21:58] helenclarko commented on #8
I believe the keys are working without any issue, If I swap them out for a different domain, it shows an error, something about the keys are not for this domian".

Think we solved the problem. Our servers dont have SSL, so CURL needed to have verify set to false.

[2015-04-19 22:02] UndefinedOffset commented on #8
Ok cool you can set that on the config for the field (see the read me) for that, that way you won't have to modify the module :) let me know if the problem is solved and I'll close this issue

[2015-04-19 22:04] helenclarko commented on #8
All solved.
Thanks!

[2015-04-19 22:05] #8 closed

[2015-08-13 19:11] thezenmonkey opened #9 "Captcha Stuck After Click"
I'm running the captcha module on SS3.1 and the latest Spam protection module and when you click on the check box, it gets stuck on the blue rotatiting circle. I don't see any error fired in javascript or PHP. The same thing happens using the testing keys

Pleass see http://oenogallery.com/artists/don-maynard/art/water-spout for refrence.

[2015-08-13 19:35] UndefinedOffset commented on #9
My hunch is that it's something to do with how the lightbox is working on the page. It seems to be duplicating the html for the form. My guess is it's something to do with that. If I remove the ``display: none`` on the ``.morph-content`` css selector the recapcha instance works correctly. One thing you could try doing is moving the contents of the form to an iframe instead of being right in the do

[2015-08-14 01:29] thezenmonkey commented on #9
Hmm, okay I'll try moving the form back to a CSS only modal. I only oved them to the other one for interface consistancy :)

[2015-08-25 19:46] thezenmonkey opened #10 "Optional Javascript Callback"
I've created fork, with an optional callback to be called when the Recaptcha is verifed (enable submit button, etc). If it's useful, I can conver to a PR https://github.com/thezenmonkey/silverstripe-nocaptcha

[2015-08-25 19:48] UndefinedOffset commented on #10
Sure create a pull request and I'll merge it in. Have you tested it with multiple instances on a single page? I'm assuming you have?

[2015-08-25 19:49] UndefinedOffset commented on #10
Does this solve your issue in #9?

[2015-08-25 19:51] thezenmonkey commented on #10
Right now it will call the same function for all instances, not a problem if you're just enabling the submit button since theoritcally a Human for one form is a suman for all forms on the page.

[2015-08-25 19:59] thezenmonkey commented on #9
The lightbox was causing the issue. Once I changed teh lightbox bax to the old style the multiple instances worked again.

[2015-08-25 19:59] #9 closed

[2015-08-25 20:00] UndefinedOffset commented on #10
I think the easy way to adjust that, would be to have your data-callback attribute store the name of the callback to use. Then in your js changes have it use the value of data-callback instead of hard coding it to "verifyCallback". Could you try that and see if it works? If it does mind updating your pull request should happen automatically when you push to the branch your pull is based off of.

[2015-08-25 20:10] thezenmonkey commented on #10
The big problem with that is that the callback function in the Recpatcha API requires a variable passed when initatiated via javascript, and not a string. Calling ```javascript window[field.getAttribute('data-callback')]``` didn't seem to cut it.

[2015-08-25 20:32] UndefinedOffset commented on #10
Ya probably for the best, I'm going to close this and merge the pull request. More than likely only one call back is needed anyways.

[2015-08-25 20:32] #10 closed

[2015-10-01 22:17] camfindlay opened #12 "Test master against 3.2 core?"
Would anything need to be changed to allow 3.2 compat? If not perhaps at a ~3.1 cms/framework in the composer require?

[2015-10-01 22:49] UndefinedOffset commented on #12
Shouldn't be an issue with 3.2, I'm relaxing the requirements

[2015-10-01 22:57] #12 closed

[2016-02-23 00:34] UndefinedOffset opened #19 "Add tab index support"
We should add support for setting the tab index I think this was added after the module was initially built see docs for info. https://developers.google.com/recaptcha/docs/display#config

[2016-08-03 11:17] Misagh90 opened #24 "How to active on register and login form"
Hi,
how we can active this module on register and login page (Member Profile Module)?
where we can add these code:
`$form->enableSpamProtection()
    ->fields()->fieldByName('Captcha')
    ->setTitle("Spam protection")
    ->setDescription("Please tick the box to prove you're a human and help us stop spam.");`

Thanks,

[2016-08-03 12:32] UndefinedOffset commented on #24
I believe you would need to do a subclass of the [MemberLoginForm](https://github.com/silverstripe/silverstripe-framework/blob/3.4/security/MemberLoginForm.php). Probably something similar to (untested):

[code]

Then in your config do something like (again untested):
[code]

I think that should work ;) give it a try and let me know.

[2016-08-06 08:12] bigbang1980 commented on #24
Thanks, it works like a charm
but im disable  'verify_ssl'

[2016-08-06 08:15] Misagh90 commented on #24
Thanks @UndefinedOffset
it's working.

[2016-08-06 12:32] UndefinedOffset commented on #24
Awesome, no problem

[2016-08-06 12:32] #24 closed

[2017-04-05 23:18] Codesesh opened #26 "New "invisible" captcha option not working"
Hi there,

According to the docs we should be able to use the new "invisible" captcha from google. Is this the case? I have a stackoverflow question started here that has more details: http://stackoverflow.com/questions/43200694/how-to-implement-the-new-invisible-recaptcha-on-form

Cheers,
Kieran

[2017-04-05 23:24] UndefinedOffset commented on #26
It should work, make sure your default size is set to invisible. I added support not too long ago, try adding the below in your config also make sure your key is setup for the invisible captcha or you will get an error from the recaptcha api. Let me know if that works. There may not be a tag with support as well at the moment.

[code]

[2017-04-06 08:06] Codesesh commented on #26
@UndefinedOffset - Yip I had gotten an invisible key, I tried a new invisible key and a normal key just before and both show the captcha whilst using `default_size: "invisible"` - no errors came up...

Does it hide the captcha for you?

**This is my _config/config.yml**

[code]

[code]

[2017-04-06 13:00] UndefinedOffset commented on #26
it does for me, it should show the recaptcha logo on the right side, when you hover over that it should look like the following. I've tagged 0.3.0 make sure you are using that tag (or the latest master), if it's still not working what version of SilverStripe are you using? Could you post your composer.lock file?
![screen shot 2017-04-06 at 09 55 56](https://cloud.githubusercontent.com/assets/13915

[2017-04-07 06:59] Codesesh commented on #26
@UndefinedOffset - Ok just doubled checked, apologies I was using an older version. Have updated to 0.3.0 now and it is now not showing the captcha as expected. Buttt when you fill out the form and submit it is now asking to "Please answer the captcha, if you do not see the captcha please enable JavaScript"

![image](https://cloud.githubusercontent.com/assets/12224994/24788904/32a62b60-1bc4-11e7-9

[2017-04-07 13:56] UndefinedOffset commented on #26
Ok pretty sure I have it fixed now can you try dev-master in your site and see if it works now? Looks like the callback option has become required with the invisible captcha which I did not know.

[2017-04-07 21:04] Codesesh commented on #26
Perfect, seems to be working now. I was looking through the API and see there is an option to change the position of the reCaptcha logo, I have created a .patch file with the changes to get this to work, are you able to implement into the module? https://ufile.io/ca12d1

[2017-04-07 21:06] UndefinedOffset commented on #26
best way would be to submit a pull request with the changes then I can merge it easily :)

[2017-04-07 21:06] #26 closed

[2017-04-18 23:19] 3Dgoo opened #29 "Invisible captcha invalid form submission bug"
When using the invisible captcha the form submits to the server even when JavaScript validation deems the form to be invalid.

On submission of a form, if the form is invalid and the form submission is blocked by JavaScript the invisible captcha will override this block, submit the form and cause the page to refresh.

To recreate this issue we can create a UserForm with a required text field and a

[2017-04-19 13:25] UndefinedOffset commented on #29
This is very likely related to how the the [listener is bound to the form](https://github.com/UndefinedOffset/silverstripe-nocaptcha/blob/master/javascript/NocaptchaField.js#L18-L24). The [listener](https://github.com/UndefinedOffset/silverstripe-nocaptcha/blob/master/javascript/NocaptchaField.js#L4-L8) is required for the invisible captcha because it does not automatically run, it may just need t

[2017-04-20 14:29] UndefinedOffset commented on #29
Give master a try now and let me know if it's still not working, it seems to be for me with the changes in 2da0ab9

[2017-05-11 12:38] #29 closed

[2017-05-12 13:24] guyvanbael opened #30 "invisible recaptcha"
Hi would it be possible to use the latest invisible recaptcha. My guess is that a lot of website users would be very grateful ;-)

https://www.google.com/recaptcha/intro/invisible.html

[2017-05-12 13:27] UndefinedOffset commented on #30
yep already supported in 0.3+ make sure your keys work for invisible and use the following in your yaml config. It can also be set on a per-field basis by calling ``setCaptchaSize('invisible')``.

[code]

[2017-05-12 13:59] guyvanbael commented on #30
@UndefinedOffset  You're a legend ;-)

[2017-05-12 14:40] UndefinedOffset commented on #30
I try ;), I'm going to close this issue

[2017-05-12 14:40] #30 closed

[2017-06-06 22:38] Codesesh opened #31 "Cannot read property 'settings' of undefined - When in invisible mode"
When using version 0.4.0 of this module & using the invisible mode we get:

[code]

https://www.dropbox.com/s/2f4qbfjjd2298f8/Screenshot%202017-06-07%2010.29.22.png?dl=0

https://www.dropbox.com/s/zohx305s4vowabz/Screenshot%202017-06-07%2010.29.47.png?dl=0

default_size: "invisible" - Doesn't work, throws error as above.
default_size: "normal" - Works

Version 0.3.2 is working fine though.

I am u

[2017-06-07 15:01] UndefinedOffset commented on #31
The reason for it working fine in normal mode is because invisible requires more work on the JS end of things than normal does. Are you loading a custom version of jQuery validate (i.e. the one not included in the core)? Is your form build through userforms? or custom?

[2017-06-30 13:12] pinkp opened #33 "Getting it to show the reCAPTCHA"
I couldn't get this to work until adding **`"CommentingController::add_extension('CommentSpamProtection');"`**
to _config.php why isn't this mentioned in the instructions, is the .yaml file settings meant to be enough?

[2017-06-30 13:14] UndefinedOffset commented on #33
The instructions don't cover working with the comments module they only cover working with just the SpamProtection module which covers all other forms that call ``enableSpamProtection()`` on the form. My guess that extension does that. I could add a note about the commenting module however.

[2017-06-30 13:18] pinkp commented on #33
Oh ok, sorry its a little confusing. Yes a note would be nice! Thanks

[2017-06-30 13:23] #33 closed

[2017-07-08 02:58] Goldfinch commented on #31
I think he has a custom one as I have,

I just fixed that by clearing default requirements, hope it helps

[code]

[2017-07-30 22:23] Codesesh commented on #31
I think there may of been a custom version of jQuest validate loaded.

I have just tried 0.4.0 of this module with SS 3.6.1 on a static contact form on another website and it is working fine.

[2017-08-30 03:52] RuthAdele opened #35 "Scroll to captcha on small screen"
If captcha checkbox fails, and the "please click on squares that show cats" game displays, then when proof of human is complete, the user must scroll back up to the captcha input box (iOS Safari).

It seems to be possible to overload the script on callback with something like in this SO post: https://stackoverflow.com/questions/41889296/google-recaptcha-scroll-to-bottom-of-page-when-verified-on-io

[2017-11-09 08:12] guyvanbael opened #37 "ss4 compatibility"
Any plans on a version for SS4?

[2017-11-09 11:04] UndefinedOffset commented on #37
Absolutely! Just a time game... maybe I'll start looking tomorrow.

[2017-11-09 16:21] UndefinedOffset commented on #37
so I lied... I found some time give the 2.0.x branch a try, note you will need to use composer. Try the command below it should pull the 2.0.x branch:

[code]

[2017-11-10 09:03] guyvanbael commented on #37
Great. It works like a charm!
Thanx for the hard work!

[2017-11-10 11:04] UndefinedOffset commented on #37
It was actually pretty easy silverstripe/silverstripe-upgrader did 90% of the grunt work. That said this is a pretty simple module too :)

[2017-11-10 11:04] #37 closed

[2017-11-22 21:27] lestercomia opened #38 "Bootsrap Form"
When using a bootstrap form module and using norecaptcha. Validation Error wont show up.

see nocaptcha/lang/en.yml

[2017-11-22 21:31] UndefinedOffset commented on #38
What version of SilverStripe are you using? If you are using SilverStripe 4 make sure you are using the latest from master or 2.0.0-alpha2. If you are using SilverStripe 3 make sure you are using 1.0.0 or the latest from 1.0.x.

Also is the error message simply blank? It's also possible if bootstrap is intercepting the submission process for the form you may need to trigger the recaptcha api manua

[2017-11-22 21:39] UndefinedOffset commented on #38
Also note the validation error message will only show after submission to the server as validation is done serverside. It will not show up prior to that.

[2017-12-04 03:44] Goldfinch opened #39 "Multiple form with nocaptcha (invisible) on one page"
Hi there,

Looking at NocaptchaField.ss and NocaptchaFields.js seems that it should work with multiple nocaptcha fields, in case when we have more than one form on the same page, but it doesn't. By pressing submit button (on both forms) and completing nocaptcha, the request is sending to the last loaded form on the page.

Any ideas?

[2017-12-04 21:08] Goldfinch commented on #39
Thanks, have found a way.

[2017-12-04 21:09] UndefinedOffset commented on #39
It does sound like it maybe a bug in the module, do you mind elaborating on what you found as a work around?

[2017-12-04 21:29] Goldfinch commented on #39
Yep, sure. But it's more like a quick hack to fix this issue as I don't have much time at the moment.
So, what I found is when you have two forms on the same page, no matter what form you are submitting, behind the scene it triggers the last loaded one

NocaptchaField.js
[code]
I presume that callback does not work properly.

So, basicly I just added event to submit button on each form to get the

[2017-12-04 22:38] UndefinedOffset commented on #39
Thanks I'm sure it will help, I'll look into a fox from my end when I'm back from vacation.

[2018-06-16 14:13] torindul opened #41 "Composer.json dependencies for SS4"
When calling the composer require for the nocaptcha module within SS4 it fails. To get around this I had to force my composer.json to use dev-master in order for your declared composer.json requirements to then pull the correct versions of silverstripe spamprotection module. Maybe a new branch could be made called 2.0 which is for SilverStripe 4.0 onwards?

[2018-06-17 12:09] UndefinedOffset commented on #41
tag created :)

[2018-06-17 12:09] #41 closed

[2018-06-25 04:48] markhagemann commented on #39
Any update on this? I believe I am encountering this issue at the moment with two of the same forms on one page. Thanks.

[2018-06-25 13:46] UndefinedOffset commented on #39
@markhagemann one thought, make sure that you have a unique name for the captcha on both forms. I.e if it's named "Captcha" on both forms there will be a collision in the names on the front end which would cause issues.

[2018-06-25 23:20] markhagemann commented on #39
Thanks @UndefinedOffset I have managed to resolve it by creating another form function in my controller with a different captcha name and another form template to use it.

[2018-08-01 12:44] guyvanbael opened #42 "gettemplatehelper method not found"
Getting this error when adding no-captcha to a SS3.1.3 site.
[User Error] Uncaught Exception: Object->__call(): the method 'gettemplatehelper' does not exist on 'NocaptchaField'
GET /carre2015/contact
Line 763 in /Users/guy/Documents/webroot/carre2015/framework/core/Object.php

Source
754 				default :
755 					throw new Exception (
756 						"Object->__call(): extra method $method is invalid on $

[2018-08-01 12:54] UndefinedOffset commented on #42
Sorry for the confusion, looks like the 1.0.x branch/releases have not been compatible with 3.1 since version 0.3.0, SilverStripe 3.2 defines the method causing you issues. That version should still work on 3.1 however you cannot use the invisible captcha based on my commit for 0.3.1 it looks like there was an issue with it.

[2018-08-01 14:00] guyvanbael commented on #42
so, i should use 0.3.0 release?

[2018-08-01 14:07] UndefinedOffset commented on #42
That would be my recommendation to at least try assuming you cannot update the version of the CMS to > 3.2.

You may also be able to extend the ``NocaptchaField`` and override ``getFormID`` with something replicates the functionality. Perhaps something like (untested):
[code]

Then use ``CustomNocaptchaProtector`` as your spam protector instead of the ``NocaptchaProtector``.

[2018-08-01 14:36] guyvanbael commented on #42
the only thing that helped was updating the cms. @UndefinedOffset Thanx a lot for pointing me in the right direction! Realy appreciate it!

[2018-08-01 14:37] UndefinedOffset commented on #42
no problem

[2018-08-01 14:37] #42 closed

[2018-12-10 13:48] a2nt commented on #38
Guess this note will be helpful.

If u have custom validator class u will need to check every field manually, ex:
[code]
but if u will extend SilverStripe\Forms\RequiredFields it will work ok:
[code]

[2019-03-03 14:35] madmatt opened #46 "Allow site and secret keys to be provided via env var"
This allows for different values on different environments, and makes sure we don't have to hard-code credentials in files checked in to repositories etc.

[2019-03-13 03:42] extravio opened #47 "Invisible recaptcha ERROR: Uncaught (in promise) null"
When using the invisible recaptcha on a User Defined Form, submitting the form fails with the following javascript error:
`Uncaught (in promise) null`
No issue with default_size: compact
![Recaptcha-JS-Error](https://user-images.githubusercontent.com/1171158/54252263-ffd0a280-45ae-11e9-8523-70f8ce7fda9a.PNG)

[2019-03-13 16:32] UndefinedOffset commented on #47
hmm sucks that there was no trace, what version of SilverStripe and UserForms are you using?

[2019-03-13 20:26] extravio commented on #47
The latest versions: Silverstripe 4.3.2 and silverstripe/userforms: 5.3.1

According to this post on Stack Overflow, it could be caused by the data-callback attribute.
https://stackoverflow.com/questions/52390562/google-recaptcha-response-uncaught-in-promise-null

[2019-03-13 20:28] UndefinedOffset commented on #47
Certainly sounds like the issue will look into it :) welcome to open a pull request however if you can figure it out first ;)

[2019-03-21 13:22] #46 closed

[2019-03-21 21:19] UndefinedOffset commented on #47
Try the master branch in your local and see if that fixes the issue

[2019-03-22 20:47] madmatt commented on #46
Woohoo! Thanks @scott1702 and @UndefinedOffset!

[2019-03-25 21:22] extravio commented on #47
@UndefinedOffset all tested ok!
Thanks!

[2019-03-26 12:49] UndefinedOffset commented on #47
Tagged as 2.0.2, thanks for your report and verifying

[2019-03-26 12:49] #47 closed

[2019-04-02 03:06] b-rhodes opened #50 "ReCAPTCHA couldn't find user-provided function"
[code]

I'm getting this javascript error when submitting a form, any idea what could be causing it?

[2019-04-02 12:43] UndefinedOffset commented on #50
What version of the module are you using and what version of the cms are you using? Are there any other JavaScript errors prior to attempting to submit the form?

[2019-04-10 08:03] Bandnakalra opened #51 "Captcha is not showing in custom form please help"

[2019-04-10 16:07] UndefinedOffset commented on #51
are you calling `enableSpamProtection()` on the custom form as defined in the docs for the spam protection module (and in this one if I remember right) https://github.com/silverstripe/silverstripe-spamprotection#configuring ? Can you post some additional info like how the form is being constructed and your yaml config where you are setting the spam protector?

[2019-04-10 22:17] Bandnakalra commented on #51
now the captcha is showing but i am getting error "Captcha is required" after submitting form

[2019-04-10 23:29] UndefinedOffset commented on #51
Make sure you do not set the captcha to required, I know it sounds counter intuitive it's always required, that could be the issue there.

[2019-04-11 00:21] Bandnakalra commented on #51
I am getting js error in console
Cannot set property 'value' of null
    at DrawCaptcha

Actually nocaptcha was taking path of its js file in my public/ resources/nocaptcha

so i put the js file in my public folder and captcha started showing up but not form submit getting error

[2019-04-11 14:34] UndefinedOffset commented on #51
hmm what style of Recaptcha are you using and what version of this module are you using. As well are you using jQuery validate?

[2019-04-14 09:57] b-rhodes commented on #50
Sorry for late reply, I'm using Silverstripe 4.1.2
There is another javascript error, but it's unrelated.

[2019-04-15 14:53] UndefinedOffset commented on #50
Ok three more questions (sorry just trying to narrow down the issue):

1. What version of this module are you using
2. What version of jQuery are you using?
3. Are you using jQuery validator, if so which version of it?

[2019-06-04 23:17] dunatron commented on #50
I am also getting this issue.
ReCAPTCHA couldn't find user-provided function: Nocaptcha-Form_AskAQuestion_Captcha

undefinedoffset/silverstripe-nocaptcha (2.0.3)
jQuery v: 1.10.2

[2019-07-29 05:13] extravio commented on #50
I think the problem is that the "window.Nocaptcha-Form_[Whatever]_Captcha" function is only defined for invisible Recaptcha (NocaptchaField.js line 38).
However, the callback function is still set to this global function independently of the "data-size" attribute  (NocaptchaField.js line 57).

[2019-07-29 13:08] UndefinedOffset commented on #50
I think @extravio  is correct, I'll see if I can get a fix done up later today

[2019-07-29 13:28] #50 closed

[2019-07-29 13:30] UndefinedOffset commented on #50
Fixed and tagged as 2.0.4

[2019-08-30 03:31] christopherbolt commented on #39
This issue still exists. It's a scope issue caused by rendering the fields in a loop resulting in the last field rendered to always be the one processed when any form submits. The solution is to break the rendering into a separate function and then just call that function in the loop. I will submit a pull request soon when I have a spare moment.

[2019-09-11 00:27] UndefinedOffset commented on #39
Fixed in #54, tag coming next week

[2019-09-11 00:27] #39 closed

[2019-09-16 20:01] UndefinedOffset commented on #39
2.0.5 has been tagged

[2019-12-09 22:01] gurucomkz opened #55 "Wrong form submitted when multiple captcha used on same page"
When 2 forms on a page both with invisible captcha, I see that only one of them is submitted regardless of which form I actually fill in. I.e. I fill in form #1 but form #2 is being submitted to the server. Found that var `form` is not retained for `window['Nocaptcha-'+_noCaptchaFields[i]]`.

For a workaround, had to use another wrapper function to ensure the `form` var keeps its value.
[code]

[2020-01-17 14:32] brycemurphy opened #56 "Working with Custom Forms"
Hi!

I'm working with your module for different types of forms on a site. It was easy enough to get Nocaptcha to work with User Forms and Comments, however I'm having big difficulties incorporating it with Custom Forms we're building. Do you know how to resolve this? It might be as easy as building out more on the backend, but I'm stumped myself.

Thanks.

[2020-01-17 15:58] UndefinedOffset commented on #56
For custom forms you should be able to just call `$form->enableSpamProtection()` to add the spam protection via nocaptcha to your form. See the silverstripe/silverstripe-spamprotection documentation for more on how to do that.

Let me know how you make out :)

[2020-01-17 16:21] brycemurphy commented on #56
Nope, simply putting `$form->enableSpamProtection` neither shows the box nor lets me submit legit forms. I know it *is* adding itself to the form by that command, but from what I can tell, it's not doing anything/not accepting the submissions.

[2020-01-17 17:07] brycemurphy commented on #56
Got it, I wasn't including it in the page!

[2020-01-17 17:07] #56 closed

[2020-02-19 07:56] guyvanbael opened #57 "Invisible recaptcha v3?"
Any plans for integrating invisible recaptcha v3?

[2020-02-19 15:01] UndefinedOffset commented on #57
Not at the moment, the main reason being that the v3 recaptcha requires allot of per-site actions and a decision by the developer whether a score is good enough or not, it's much more per-site context than just putting a captcha into a form.

Have a look at @chillu's [comment here](https://github.com/chillu/silverstripe-recaptcha/issues/55#issuecomment-508262831) for more context. He does his usua

[2020-05-11 23:15] noizyboy opened #58 "Can't see 'Please answer the captcha' message on a multi-step form"
If you put a recaptcha on the final page of a multi-step userforms, and the user doesn't check the recaptcha, the form reloads back at step one with no indication as to what has gone wrong (or, indeed, that anything has gone wrong at all).

Obviously, not an ideal user interface experience. I can imagine a lot of users working under the assumption that since there's no error message that their for

[2020-05-12 01:36] noizyboy commented on #58
Needing a solution for this in short-order, I over-rode the default template for the norecaptcha widget, adding the data-expired-callback and data-callback attributes, so...

[code]

I added this script to the relevant page, which checks uses the callback functions to set the RECAPTCHA_IS_VALID to the appropriate value, which, if it's false, stops the form from submitting (so, no jump back to the

[2020-05-14 18:51] UndefinedOffset commented on #58
I do like the idea, I think support for setting these two callbacks on the field makes the most sense, then devs could easily set it on a per-field basis.

[2020-08-07 02:45] djmattski opened #59 "g-recaptcha-response not set for iOS"
Have an issue that seems to be only for iOS where the error of :

UndefinedOffset\\NoCaptcha\\Forms\\NocaptchaField.EMPTY : Please answer the captcha, if you do not see the captcha you must enable JavaScript

is kicking in. This is using NoCaptcha out of the box in a SS4 set up with UserDefined Forms. The ReCaptcha account is set up for invisible V2 as is the configuration in yml.

It may be that

[2020-08-10 20:33] brasileric opened #60 "Javascript alert message"
Since I upgraded to Silverstripe 4.6 I get a javascript alert in forms with this recaptcha protection:

![image](https://user-images.githubusercontent.com/6453793/89828197-03c47380-db59-11ea-8639-99c1d9dc0824.png)

In get this in both cases: checked and unchecked the recaptcha. When I click Leave this form the form will still be sent (or not when unchecked). So the protections works, but this aler

[2020-08-10 20:36] UndefinedOffset commented on #59
Which version of Silverstripe and User Defined forms are you using?

[2020-08-10 20:40] UndefinedOffset commented on #60
This is actually being caused by userforms 5.6+ I believe they added change tracking there, I'm not 100% sure there is much I can do to mitigate the change tracking from locking on to the hidden field that Recaptcha adds to the page when it initializes. I will try to investigate however it may take me quite a while to do that. It may be worth your while to raise an issue over on silverstripe/silve

[2020-08-10 20:51] brasileric commented on #60
Ah I see, I thought Silverstripe 4.6 was the cause, but than in the other websites the userforms version is also different I guess. In this website with the issue the version of userforms is 5.6.0 indeed. I will add an issue ther as well.

Thanks for now and for your very quickly response!

[2020-08-10 22:54] djmattski commented on #59
Sorry should have said.
Version 2.0.5 of this module
Version 4.5.3 Silverstripe
Version 5.5.2 Userforms

[2020-08-11 12:27] #57 closed

[2020-08-11 12:27] #51 closed

[2020-08-24 00:24] TimStannard opened #61 "Issue adding spam protection field"
Hey there! In the installation instructions it says "Finally, add the "spam protection" field to your form fields."

Which name do we call the field? See my Contactpage.php code below (not working)

        $fields = new FieldList(
            new TextField('Name'),
            new EmailField('Email'),
            new TextareaField('Message')
           new SpamProtectionField('Captcha')
        )

[2020-08-24 00:26] UndefinedOffset commented on #61
To do this simply call `->enableSpamProtection()` on the form object as the readme mentions later on. That should do what you need at least in the most common implementations.

[2020-08-24 12:47] #61 closed

[2020-09-16 00:15] LiamW opened #63 "Feature: Increase Page Load Times"
reCaptcha really slows down websites and causes poor performance scores in Google's PageSpeed Insights.

Found this article which goes over a good technique to only load the js once a user interacts with the form. Would be great to have this as either default or an option in the config if it's possible.

https://tehnoblog.org/google-invisible-recaptcha-how-to-boost-lighthouse-performance-score/

[2020-10-07 01:40] rafaeldsousa commented on #47
@unclecheese I'm still getting this. I can see the callback being set correctly onload but after I trigger submit on the form it gives me the same message as initially reported here. Could this have come back after the latest release with v3 updates ?
I'm still using v2.

[2020-12-03 01:31] gdelavil commented on #60
@brasileric this issue in userforms might help you https://github.com/silverstripe/silverstripe-userforms/issues/868 .

[2021-03-17 03:52] josephlewisnz opened #65 "Ajax form"
Hi there,

I am just trying to convert a form into an AJAX form.

I can seem to find a nice way to get this working if they do not "tick" the required Recaptcha field.

Basically, if the form fails in any way, then the entire form is returned (with validation messages), however, the Recaptcha never re-renders after this point.

I'm wondering If I cannot rely on the normal form flow and I should be

[2021-04-29 12:11] LiamW opened #66 "reCaptcha & HTML5 Validation"
The invisible mode overtakes a button's click and submits the form first without running the HTML5 validation. So the form tries to submit. Yes you can set SS required on the fields, but the page still reloads with errors. Better UX to have HTML5 validation working.

https://stackoverflow.com/questions/44021400/how-to-run-recaptcha-only-if-html5-validation-has-passed/44026198#44026198

[2021-07-09 12:39] purplespider commented on #66
I would argue this is more of a bug than an enhancement, as it causes Userforms' javascript validation to be bypassed.

e.g. You have a Userform and have set a field to have a minimum length. If the user has entered fewer characters than required but clicks submit, it briefly says "Please enter at least 10 characters." but submits the form anyway:

![Screenshot 2021-07-09 at 13 38 27](https://user

[2021-07-09 13:40] UndefinedOffset commented on #66
ya I agree @purplespider  flagged as such

[2021-07-13 15:25] BITWINGS-DE opened #67 "Dont work width parsley.js"
Nocaptcha does not work with other scripts that also trigger the submit button.

[2021-08-18 14:00] UndefinedOffset commented on #66
@LiamW In my local tests (Firefox and Chrome) pure html5 validation is being triggered before the submit event so nocaptcha does not appear to be involved. I'm curious what browser you were using and what mode of recaptcha (invisible, normal, v3)?

@purplespider In my local testing I do see jQuery validate being triggered that said perhaps it's a load order problem. If `userforms.js` is loaded aft

[2021-08-18 14:08] UndefinedOffset commented on #66
Also any JS console errors would be helpful

[2021-08-19 10:52] purplespider commented on #66
Here's an example: https://nocaptcha.pswd.biz/test-form Try submitting the form with less than 10 characters and see what happens.

This is a fresh Silverstripe 4.8.0 install on PHP 7.4, just with the latest versions of `userforms` and `nocaptcha` installed:
* `"silverstripe/userforms": "^5.9"`
* `"undefinedoffset/silverstripe-nocaptcha": "^2.1"`

**spam.yml:**
[code]

I then created a user forms

[2021-08-19 15:25] UndefinedOffset commented on #66
@purplespider So i think what's happening in your test instance is one i've seen before in other cases, basically the simple theme in this case is loading another jQuery version which is basically removing the event listeners setup in the one supplied by user forms. I wonder if this is what could be happening in both cases talked about here.

I do see the captcha trying but since the form has alre

[2021-08-19 16:00] LiamW commented on #66
I've been away but I might be able to take a look at this later today. Just a heads up, I was having the same issue with the invisible mode and only 1 jquery version. I wasn't using simple theme, but my custom design.

Would have been latest SS and module version from when I first posted this.

[2021-08-20 09:25] purplespider commented on #66
@UndefinedOffset Thanks, yep, spot on! I appreciate that this specific issue isn't actually related to this module now.  But would the ideal fix in this instance be to move the jQuery requirement in the "simple" theme from `Page.ss` to `PageController::init()` (so it loads before the userforms js files), and stop userforms from adding its own copy of jQuery?

If so, happy to add a PR to userforms

[2021-08-20 18:39] UndefinedOffset commented on #66
@purplespider Ya that would be what I would think is probably the best bet, prevent userforms from adding it it's own jQuery version at least. I think simple is designed to work out of the box work so it kind of makes sense that it requires it's own version. Technically you can block it in `PageController::init()` using `Requirements::block()` and technically you could also do the same with UserFo

[2021-08-20 19:15] LiamW commented on #66
@UndefinedOffset Can I send you the site to check in an email? I don't want to post it here. It's on the live site now. I can fill out the form on your website.

[2021-08-20 19:19] UndefinedOffset commented on #66
@LiamW perhaps reach out to me via the contact form on https://webbuildersgroup.com/ I honestly hardly check the email on my own site anymore. I'll grab the email when it comes into the inbox for that form, we can connect privately from there.

[2021-08-20 19:58] UndefinedOffset commented on #66
@LiamW Got your email, in your case it does seem to be that the HTML5 validation is not being allowed to run for some reason.

I do have a theory... I see you have a couple attributes added to the submit button `data-sitekey`, `data-callback`, `data-action` and a class `g-recaptcha`. You shouldn't need to do that the scripting provided by this library should handle mapping the submit button proper

[2021-08-20 20:09] LiamW commented on #66
Ya I'm fine with discussing here as it makes sense.

As I mentioned in the email, I'm not much of a dev myself. I'm also not doing anything custom to add those attributes in myself. I'm running a super basic form. Attached a screenshot of it so you can see the code minus domain stuff I've removed.

So those attributes are being added by the modules. Either yours or spam protection I guess.

![Scre

[2021-08-23 15:57] UndefinedOffset commented on #66
@LiamW there's definitely something odd going on I'm not seeing this behavior on my local test environment, do you mind posting your composer.json file? As well as your your yaml config for nocaptcha like purplespider posted (make sure to remove the keys). Basically I'm trying to figure out if something else is changing the form, because when viewing the source I'm definitely seeing something addi

[2021-08-23 16:22] LiamW commented on #66
Sure no problem.

![Screen Shot 2021-08-23 at 12 15 33 PM](https://user-images.githubusercontent.com/2015237/130481659-cd030c15-e8a1-44d1-93a3-4e6be5bc1d02.png)

And

![Screen Shot 2021-08-23 at 12 21 49 PM](https://user-images.githubusercontent.com/2015237/130482480-a962c09f-dc6e-4106-87f6-45cc09c8348c.png)

[2021-08-23 16:28] UndefinedOffset commented on #66
Ah v3 recaptcha seems to be related to that, I'll look into it and let you know what I find, explains why I wasn't seeing it :) I was testing v2 invisible.

[2021-08-23 17:44] UndefinedOffset commented on #66
@LiamW can you give master a try and see if that works for you (I assume you have a test version of the affected site). If it does I'll tag a new release.

[2021-08-23 17:53] LiamW commented on #66
Yup I believe that has fixed it. Works on my local test site. If I come across anything when I push live or in general, I'll let you know.

Thanks!

[2021-08-23 17:55] UndefinedOffset commented on #66
Tagged as 2.1.1

[2021-08-23 17:55] #66 closed

[2021-09-29 08:21] schmiddaniel opened #70 "defaultBadge setting is ignored when RecaptchaVersion 3 is current"
The grecaptcha-badge shows when RecaptchaVersion 3 is current. On Version 2 everything works totally fine.

[2021-10-07 22:54] davejtoews opened #73 "[Feature Request] Store response score from ReCAPTCHA v3 API"
This module processes the response from the API and checks the score against the set minimum, but it does not save that score to be recorded in the CMS or sent in an email. It can be useful for troubleshooting to see what score is being returned.

[2021-10-10 19:53] jesscoreed commented on #59
We are also having this issue, however not just on iOS, the g-recaptcha-response is empty every time. Wondering if you ever found a solution for this @djmattski?

[2021-10-12 02:39] djmattski commented on #59
Hey @jesscoreed ... this feels like an age ago. I think we did resolve this one (apologies should have mentioned on this issue when we did).

If I recall I _think_ it came down to a CSP thing for us, as it was really only iOS in our case. Turns out that Safari does not respect a script-src in the CSP and so ReCaptcha was being blocked. We had to add it in twice, once to the default-src and again t

[2021-12-09 03:55] GuySartorelli opened #75 "Make javascript optional"
The way the javascript is handled in this module currently is very opinionated - by using a submit event handler, it makes it difficult for project-specific on-submit code to be handled correctly without interfering with the captcha stuff.

If you could make adding javascript _optional_, then situations like that can be handled more easily (project code will have to handle the frontend) while stil

[2021-12-09 14:42] UndefinedOffset commented on #75
Technically you could use the following then roll your own implementation from there for the scripting. Either way marked as an enhancement for the future 😄.

[code]

[2021-12-09 19:55] GuySartorelli commented on #75
Ohhhh I forgot you could block resources! Thank you, that gives us a workaround unbthe meantime 👍

[2021-12-13 14:12] #75 closed

[2021-12-13 14:17] UndefinedOffset commented on #67
This has been fixed in 2.3.0

[2021-12-13 14:17] #67 closed

[2022-03-27 15:02] jinjie opened #77 "Configurations available for reCaptcha v3"
What are some of the options available to v3?

I am trying to change the badge to bottomleft and the default size but doesn't change anything. Flushed

[code]

[2022-03-28 13:49] UndefinedOffset commented on #77
The Recaptcha v3 badge has very limited yaml options you can however also style the badge using css.

That said from what I'm seeing it does sound like the `bottomleft` (or `inline`) should work so that is likely a bug. As for size, the only option supported is `invisible` for v3. (See https://developers.google.com/recaptcha/docs/invisible#render_param)

[2022-03-28 14:14] UndefinedOffset commented on #77
Based on some reading it looks and how the v3 system is implemented in this module the `default_badge` option is not supported. I'd recommend using CSS to move the badge.

[2022-03-28 14:14] #77 closed

[2022-03-28 14:14] #70 closed

[2022-10-11 10:52] micschk opened #78 "Add extension hook to validate()?"
If an extension call would be added to validate, this would devs to tweak the validation result without having to duplicate/replace the existing validation logic.

Use case is a subsites setup (with reCaptcha v3) to which new hostnames may be added by the client. These hostnames should then also be added to the reCaptcha key in order to work. Instead, the reCaptcha key is marked as 'do not check o